<h1><%= current_user.email if current_user %></h1>
<% @users.each do |user| %>
  <p>
    <%= link_to "Wave #{user.email}", wave_user_path(user), class: "btn btn-primary", remote: true, method: :post %>
  </p>
<% end %>
